# Visual Studio
[Bb]in/
[Oo]bj/
*.user
*.vcxproj.user
*.sln.docstates

# Build results
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/

# Visual Studio cache/options
.vs/

# MSBuild
*.log
*.tlog
