# Visual Studio
[Bb]in/
[Oo]bj/
*.user
*.vcxproj.user

# Build results
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/

# Специфичные пути
Book-library/.vs/
Book-library/x64/
Book-library/Book-library.vcxproj.user
trash/trash.vcxproj.user
trash/x64/
trash/.vs/